body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ffecd2, #fcb69f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.left-box {
    flex: 1;
    background: #fff5f0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-box h1 {
    color: #ff5722;
    margin-bottom: 15px;
}

.left-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.hamper-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.hamper-card img {
    width: 200px;
    margin-bottom: 10px;
}

.hamper-card h3 {
    margin: 10px 0 5px;
    color: #333;
}

.hamper-card p {
    font-size: 13px;
    color: #666;
}

.login-box {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box h2 {
    text-align: center;
    color: #ff5722;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #444;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff5722;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e64a19;
}

.note {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.note a {
    color: #ff5722;
    text-decoration: none;
}